# Xilinx ISE generated
*.ngc
*.ngd
*.ncd
*.pcf
*.bld
*.mrp
*.par
*.pad
*.unroutes
*.map
*.twr
*.twx
*.xrpt

*.bit
*.bin
*.mcs

*.log
*_summary.html
*_summary.xml

_xmsgs/
xst/
isim/
xlnx_auto_0_xdb/

# ModelSim generated
work/
transcript
vsim.wlf
*.wlf
wlft*

# Backup/temp
*.bak
*.restore
*~
Thumbs.db
Desktop.ini